{% extends 'base.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block body %}
    <h1>Modifier le type</h1>

    {{ include('type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_index') }}">Retourner à la liste</a>

    {{ include('type/_delete_form.html.twig') }}
{% endblock %}
