{% extends 'base.html.twig' %}

{% block title %}New Type{% endblock %}

{% block body %}
    <h1>Créer un nouveau type</h1>

    {{ include('type/_form.html.twig') }}

    <a href="{{ path('app_type_index') }}">Retourner à la liste</a>
{% endblock %}
