<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue sur notre site!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>🌟</text></svg>">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		{% block stylesheets %}
		{% endblock %}
        <style>
    body, .navbar, footer {
        margin: 10px 0; 
    }
    .navbar-nav .nav-item {
        margin-right: 15px; 
    }
    footer {
        padding: 10px 0; 
    }
    header, footer {
        padding: 10px 0; 
    }
    .content {
        padding: 25px; 
    }
</style>

	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">
					<img src="/img/logo.webp" alt="Logo" style="height: 100px;">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="/">Accueil
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/calendar">Calendrier</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/register">Inscription</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		{% block body %}
			{% block content %}{% endblock %}
		{% endblock %}

		<footer class="bg-light text-center text-lg-start">
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
				© 2024
				<a class="text-dark" href="/">Billeterie-Havre.com</a>
			</div>
		</footer>

		{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

	</body>
</html>
